@font-face {
  font-family: Jetbrains Mono; /* You can add your own font */
  src: url(https://cdn.jsdelivr.net/gh/Raphdf201/Raphdf201.github.io@main/assets/fonts/JetbrainsMono/JetBrainsMono-Regular.ttf);
}

* {
  font-family: Jetbrains Mono; /* This is style for the whole website, here i made it like darl mode */
  color: white;
  background-color: #222;
  /*margin: 0; - If you just put an image into the website, enable this back - it removes the margin on the sides*/
}

body {
  overflow: hidden;
}

.loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: 0.45s;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%; /* Centers the bar */
  transform: translate(-50%, -70%);
  font-size: 7vw;
  /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), text shadow, was not working for me in chrome
    5px 5px 70px rgba(255, 255, 255, 0.5); - Uncomment to enable if you want */
}

.number {
  width: 100%;
  text-align: center;
}

#bar {
  width: 300px;
  height: 12px;
  border: 1px solid white;
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);*/
}

#progress {
  background: white;
  width: 0%;
  height: 100%;
}

header {
  min-height: 100vh;
  overflow: hidden;
  /*background: url(./assets/bg.webp) center/cover; - Uncomment this to add an image/background to the site*/
}
